1) Регистрации пользователей в системе (менеджеры и обычные пользователи).

2) Редактирования личной информации пользователя.

3) Иерархический список точек проката с географической привязкой.
Пояснение от куратора:
"Иерархическое имеется в виду страна Беларусь область гродненская город Гродно улица такая то
Короч чтоб можно было спускаться от Беларуси до улицы"

4) Возможность добавления / удаления / редактирования самокатов и точек проката.

5) Просмотр детальной информации о точке проката (наличие самокатов, т.е. их количество и модельный ряд, их состояние).
Выполнено: GET /v1/rental-points/{id}

6) Тарификация использования самокатов (почасовая, абонементная, возможность назначить цену и/или скидку).

7) Возможность аренды самоката пользователем по часовому тарифу либо на абонементной основе.

8) Просмотр истории аренды конкретного самоката администратором (кто, когда, пробег и д.р.)

9) История аренды для клиента.


