1) Регистрации пользователей в системе (менеджеры и обычные пользователи).
Выполнено: POST /v1/users - создание ROOT пользователя
Выполнено: POST /v1/users/new {UserCreationDto}
Выполнено: PATCH /v1/users/{id}?role=ROLE
Выполнено: GET /v1/users/{id}
Выполнено: GET /v1/users/ {UserSelectionDto}

2) Редактирования личной информации пользователя.



3) Иерархический список точек проката с географической привязкой.
Пояснение от куратора: "Иерархическое имеется в виду страна Беларусь область гродненская город Гродно улица такая то
Короч чтоб можно было спускаться от Беларуси до улицы"
Выполнено: GET /v1/rental-points?lat=x&lng=y&limit=z
Выполнено: GET /v1/rental-points?orderBy=str&asc=true&limit=x {GeolocationSelectionDto}

4) Возможность добавления / удаления / редактирования самокатов и точек проката.
Выполнено: POST /v1/rental-points/new?lat=59.93&lng=30.36&desc=Точка проката рядом с магазином KFC
           POST /v1/rental-points/new {RentalPointCreationDto}
           PATCH /v1/rental-points {GeolocationUpdateDto}
           DELETE /v1/rental-points/{id}

Выполнено: GET /v1/scooters/{id}
           POST /v1/scooters/new {ScooterCreationDto}
           PATCH /v1/scooters/{id} {ScooterUpdateDto}
           PATCH /v1/scooters/{id}?model-id=x
           PATCH /v1/scooters/{id}?rental-point-id=x
           DELETE /v1/scooters/{id}

5) Просмотр детальной информации о точке проката (наличие самокатов, т.е. их количество и модельный ряд, их состояние).
Выполнено: GET /v1/rental-points/{id}

6) Тарификация использования самокатов (почасовая, абонементная, возможность назначить цену и/или скидку).
7) Возможность аренды самоката пользователем по часовому тарифу либо на абонементной основе.

8) Просмотр истории аренды конкретного самоката администратором (кто, когда, пробег и д.р.)
9) История аренды для клиента.


