<configuration>
    <!--The current folder must be Source Folder-->
    <variable file="src/main/resources/configuration/config.properties" />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${log.folder}/logging.log</file>
        <param name="Append" value="false" />
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="error">
        <appender-ref ref="FILE" />
    </root>
</configuration>