<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="File" class="ch.qos.logback.core.FileAppender">
        <file>./logs/logging.log</file>
        <append>false</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable{short}
            </Pattern>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="File" />
        <appender-ref ref="Console" />
    </root>
</configuration>