<configuration>
    <property name="PROJECT_DIR" value="C:\Users\cognosce\Desktop\final_project\" />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${PROJECT_DIR}\logging.log</file>
        <param name="Append" value="false" />
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="error">
        <appender-ref ref="FILE" />
    </root>
</configuration>